.*
*.test-helper.d.ts
*.test-helper.js
*.test.d.ts
*.test.js
*.test.ts
**/*/readme-examples/
**/*/test/
/*.tgz
/coverage/
/cspell.config.js
/graphics/
/Icon?
/scripts/
/src/
/test-files/
tsconfig*.json